$primary: #5d9efc;
$default: #303741;
$warning: #fd9e6b;
html {
    font-size: 13px;
}
body {
    background: #fafbfd;
    font-family: "Mulish", sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    color: $default;
}
.card {
    border-radius: 10px;
    border: 1px solid transparent;
    background: #fff;
    &-body {
        padding: 15px;
        @include media-breakpoint-between(sm, lg) {
            padding: 35px 15px;
        }
        @include media-breakpoint-up(xl) {
            padding: 40px 15px;
        }
    }
}
.warn {
    background: $warning;
    min-width: 38px;
    min-height: 38px;
    color: #fff;
    border-radius: 5px;
    font-weight: 800;
    line-height: 38px;
    font-size: 24px;
}
h5 {
    &.info {
        font-weight: 600;
        margin-bottom: 20px;
        @include media-breakpoint-up(xl) {
            margin: 0;
        }
    }
}
.bold {
    font-weight: 700;
}
.boldest {
    font-weight: 900;
}
.btn {
    display: block;
    width: 100%;
    font-weight: 700;
    padding: 0.85rem 2em;
    border-width: 2px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &-primary {
        background: $primary;
        border-color: transparent;
    }
    &-outline {
        &-primary {
            border-color: $primary;
            color: $primary;
            &:hover {
                background: $primary;
                border-color: transparent;
            }
        }
    }
    @include media-breakpoint-up(sm) {
        display: inline-block;
        max-width: 155px;

        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 25px;
        }
    }
    @include media-breakpoint-up(xl) {
        flex: 1;
    }
}
